@media only screen and (max-width: 525px) {
  .slick-prev:before, .slick-next:before {
    visibility: hidden;
  }
  .title > h1 {
    font-size: 1em!important;
  }
}

@media only screen and (min-width: 526px) {
  .slick-prev:before, .slick-next:before {
    visibility: hidden;
  }
  .title > h1 {
    font-size: 1.5em!important;
  }
}

@media only screen and (min-width: 868px) {
  .slick-prev:before, .slick-next:before {
    visibility: visible;
  }
}

.title {
  background-color: white;
  font-family: 'Delius Unicase', cursive;
  text-align: center;
  font-size: 2em;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 10px;

}
.title > h1 {
  color: #3498db;
  font-size: 2em;
}

.grumpy-cat {
  /* border-radius: 50%; */
  width: 30%;
  margin-top: 15px;
}
.grumpy-cat img {
  border-radius: 0!important;
}

.photo {
  margin-top: 15px;
  margin-bottom: : 15px;
}
.photo button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  display: block;
  font-family: 'Courier';
  font-size: 2em;
}
.button button {
  border-radius: 50px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.slick-slide img {
  margin-top: 50px;
}

.slider {
  max-width: 700px;
  max-height: 300px;
  margin:auto;
}

.slider .item {
  font-family: 'Delius Unicase', cursive;
}

.slick-prev:before, .slick-next:before {
  font-size: 60px!important;
}
.slick-prev:before {
  margin-left: -40px;
}

.item {
  text-align: center;
}

.slider .item .with-img p {
  margin-top: -150px!important;
}

.container h2 {
  color: black;
  text-align: center;
  font-size: 1em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container .cat #catPhrases {
  color: black!important;
}

img {
  max-height: 500px;
  margin: auto;
  border-style: solid!important;
  border-radius: 10px;
  border-width: 15px!important;
  border-color: white!important;
}

p {
  /* color: white;
  font-size: 2em; */
  /* margin-top: 140px!important; */
}

figcaption {
  padding: 15px;
}

#cat-phrase {
  color: white;
   width: 120px;
   height: 80px;
   background: blue;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#cat-phrase:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid blue;
   border-bottom: 13px solid transparent;
}
