@media only screen and (max-width: 525px) {
  .slick-prev:before, .slick-next:before {
    visibility: hidden;
  }
}

@media only screen and (min-width: 526px) {
  .slick-prev:before, .slick-next:before {
    visibility: hidden;
  }
}

@media only screen and (min-width: 868px) {
  .slick-prev:before, .slick-next:before {
    visibility: visible;
  }
}

.title {
  display: block;
  margin: auto;
  max-width: 550px;
  background-color: white;
  font-family: 'Pacifico', cursive;
  padding: 30px;
  border-radius: 10px;
  /* text-shadow:
    0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5; */
}
.title > h1 {
  color: #3498db;
  font-size: 2.5em;
  text-align: center;
}
.title > p {
  font-size: 1.2em;
  text-align: center;
}

/* CSS BUTTONS */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin-bottom: 10px;
}
.flex-container > .blue {
  color: white;
  font-family: 'Courier';
  font-size: 1em;
  background-color: DodgerBlue;
  border-color: DodgerBlue;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.flex-container > .blue:hover {
  color: DodgerBlue;
  background-color: white;
}
.flex-container > .blue:active {
  color: white;
  background-color: DodgerBlue;
}
.flex-container > .yellow {
  /* color: white; */
  font-family: 'Courier';
  font-size: 1em;
  border: solid 2px #fed330;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.flex-container > .yellow:hover {
  background-color: #fed330;
}
.flex-container > .yellow:active {
  color: #fed330;
  background-color: white;
}

.grumpy-cat {
  display: block;
  margin: auto;
  /* border-radius: 50%; */
  max-width: 100%;
  /* margin-top: 15px; */
  cursor: pointer;
}
.grumpy-cat img {
  border-radius: 0!important;
}

.photo {
  margin-top: 15px;
  margin-bottom: : 15px;
}
.photo button {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.button {
  display: block;
  font-family: 'Courier';
  font-size: 2em;
}
.button button {
  border-radius: 50px;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.slick-slide img {
  margin-top: 50px;
}

.slider {
  max-width: 700px;
  max-height: 300px;
  margin:auto;
}

.slider .item {
  font-family: 'Delius Unicase', cursive;
}

.slick-prev:before, .slick-next:before {
  font-size: 60px!important;
}
.slick-prev:before {
  margin-left: -40px;
}

.item {
  text-align: center;
}

.slider .item .with-img p {
  margin-top: -150px!important;
}

.container h2 {
  font-size: 1.2em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container .cat #catPhrases {
  color: black!important;
}

img {
  max-height: 500px;
  margin: auto;
  border-style: solid!important;
  border-radius: 10px;
  border-width: 15px!important;
  border-color: white!important;
}

p {
  /* color: white;
  font-size: 2em; */
  /* margin-top: 140px!important; */
}

figcaption {
  padding: 15px;
}

#cat-phrase {
  color: white;
   width: 120px;
   height: 80px;
   background: blue;
   position: relative;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
}
#cat-phrase:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid blue;
   border-bottom: 13px solid transparent;
}
